body{
    background-color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.navbar-options{
    color:white;
    font-size: 1.25vw;
    letter-spacing: 0.125vw;
    text-decoration: none;
    align-items: center;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-left{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
}
.navbar-right{
    width:10vw;
    display: flex;
    justify-content: space-evenly;
}
.navbar-active{
    color:rgb(211, 102, 12);
    font-size: 1.25vw;
    letter-spacing: 0.125vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#name-title{
    margin: 0%;
    color:white;
    font-size: 1.5vw;
    letter-spacing: 0.125vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#description{
    margin-top: 1%;
    margin-bottom: 0%;
    color:white;
    font-size: 2vw;
    letter-spacing: 0.125vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container{
    height: 60vh;
    margin-top: 5vh;
    margin-left: 4vw;
    margin-right:4vw;
    background-color: rgb(21, 21, 21);
    padding: 5vw;
    border-radius: 2vw;
    /* box-shadow: 0px 0px 2vw 0px rgb(81, 79, 79); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#profile-image{
    border-radius: 100vw;
    width:18vw;
    height: 18vw;
    border: 1vw solid rgb(193, 93, 12);
    box-shadow: 0px 0px 2vw 0px rgb(0, 0, 0);
}
#description-text{
    margin-top: 1%;
    font-size: 1vw;
    color: aliceblue;
    letter-spacing: 0.125vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container-left{
    max-width: 40vw;
}
#know-more{
    text-decoration: none;
    font-size: 1vw;
    color: rgb(211, 102, 12);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-options:hover{
    color: rgb(235, 160, 68);
}